.banner {
    height: 35vh;
}
@media screen and (max-width: 800px) {
    .banner {
    height: 15vh;
}
}


.meta {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 50px;
}


article {
    max-width: 800px;
    margin: auto;
    padding-bottom: 100px;
}
article h2 {
    font-size: 34px;
    padding-top: 34px;
}
article h3 {
    padding-top: 34px;
}
@media screen and (max-width: 800px) {
    article {
        margin: 10vw;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    article h2 {
    font-size: 30px;
}
}
article img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}
.article-item img {
    margin-top: 0;
    margin-bottom: 0;
}


article a {
    text-decoration: underline;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    font-weight: normal;
}

article h2 {
    padding-bottom: 30px;
}

article h4 {
    text-decoration: underline;
}

.poem-text {
  font-size: 26px;
  text-align: justify; /* Justifie le texte pour une présentation propre */
  white-space: pre-line; /* Garde les sauts de ligne du poème */
}

.poem-author {
  font-size: 20px;
  font-style: italic;
  text-align: right;
  margin-top: 30px;
  color: #666;
}





.poem-list {
  list-style-type: none; /* Supprime les puces */
  padding: 0;
}

.poem-list li {
  margin-bottom: 15px;
}

.poem-list li a {
  text-decoration: underline; /* Supprime le soulignement */
}

.poem-list li a:hover {
}

/* Séparateurs légers entre les poèmes */
.poem-list li + li {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}